@use "variables";
body {
    margin: 0;
    background-color: variables.$bg;
    font-size: var(--hero-font-size);
    font-family: sans-serif;
}

body {
    display: flex;
     flex-direction: column;
     align-items: center;
     padding-bottom: 128px;
}

button {
    font-size: var(--btn-font-size);
}
ul {
    list-style-image: url('../images/wbpack-32.jpg');
    li {
       margin-bottom: 16px; 
    }
}